
<html>



{% if form %}
Hello {{ form }}
{% endif %}


	<form name="userform" method = "post" action="/au/" >
{% csrf_token %}
		<p>Please Enter your name </p>

	 	<input type="text"  name="username" />

		<input type = "submit" />	


	</form>


</html>

